{% extends 'base_layout.html' %}


{% block content %}
            <div class="content">
                <div class="container-fluid">
                    <p>Port VLAN Resources</p>

                    {% for p in pods %}
                        <div class="col-md-4">

                            <div class="scoreboard scoreboard--large">
                                <div class="scoreboard__title">{{ p['vip'] }}</div>
                                <hr class="text-muted">
                                <div class="scoreboard__subtitle">
                                      {% if p['A']['percentage'] > 20 %}
                                        {% set cls = 'danger' %}
                                      {% endif %}

                                    <div class="gauge-container">
                                        {% if p['A']['percentage'] > 50 %}
                                            {% set cls = 'warning' %}
                                          {% elif p['A']['percentage'] > 70 %}
                                            {% set cls = 'danger' %}
                                          {% else %}
                                            {% set cls = 'success' %}
                                          {% endif %}
                                          <div class="gauge gauge--alt gauge--{{ cls }}" data-percentage="{{ p['A']['percentage'] }}">

                                            <div class="gauge__circle">
                                                <div class="mask full">
                                                    <div class="fill"></div>
                                                </div>
                                                <div class="mask half">
                                                    <div class="fill"></div>
                                                    <div class="fill fix"></div>
                                                </div>
                                            </div>
                                            <div class="gauge__inset">
                                                <div class="gauge__percentage">{{ p['A']['current'] }}</div>
                                            </div>
                                        </div>
                                        <div class="gauge__label">Interconnect A</div>
                                        <div class="gauge__label">Max:{{ p['A']['max'] }}</div>
                                    </div>
                                    <div class="gauge-container">
                                        {% if p['A']['percentage'] > 50 %}
                                            {% set cls = 'warning' %}
                                          {% elif p['A']['percentage'] > 70 %}
                                            {% set cls = 'danger' %}
                                          {% else %}
                                            {% set cls = 'success' %}
                                          {% endif %}
                                        <div class="gauge gauge--alt gauge--{{ cls }}" data-percentage="{{ p['B']['percentage'] }}">

                                            <div class="gauge__circle">
                                                <div class="mask full">
                                                    <div class="fill"></div>
                                                </div>
                                                <div class="mask half">
                                                    <div class="fill"></div>
                                                    <div class="fill fix"></div>
                                                </div>
                                            </div>
                                            <div class="gauge__inset">
                                                <div class="gauge__percentage">{{ p['B']['current'] }}</div>
                                            </div>
                                        </div>
                                        <div class="gauge__label">Interconnect B</div>
                                        <div class="gauge__label">Max: {{ p['B']['max'] }}</div>

                                    </div>


                                </div>
                            </div>
                        </div>


                    {% endfor %}
                </div>
            </div>
            <footer class="footer footer--new">
                <div class="footer__links">
                    <ul class="list">
                        <li><a href="http://www.cisco.com/cisco/web/siteassets/contacts/index.html" target="_blank">Contacts</a></li>
                        <li><a href="https://secure.opinionlab.com/ccc01/o.asp?id=jBjOhqOJ" target="_blank">Feedback</a></li>
                        <li><a href="http://www.cisco.com/c/en/us/about/sitemap.html" target="_blank">Site Map</a></li>
                        <li><a href="http://www.cisco.com/web/siteassets/legal/terms_condition.html" target="_blank">Terms & Conditions</a></li>
                        <li><a href="http://www.cisco.com/web/siteassets/legal/privacy_full.html" target="_blank">Privacy Statement</a></li>
                        <li><a href="http://www.cisco.com/web/siteassets/legal/privacy_full.html#cookies" target="_blank">Cookie Policy</a></li>
                        <li><a href="http://www.cisco.com/web/siteassets/legal/trademark.html" target="_blank">Trademarks</a></li>
                    </ul>
                </div>
                <div class="footer__legal">
                    <div class="footer__logo">
                        <a href="http://www.cisco.com" target="_blank">
                            <span class="icon-cisco"></span>
                        </a>
                    </div>
                    <div class="footer__copyright">
                        <div>Copyright &copy; 2017 Cisco Systems Inc.</div>
                        <div>All rights reserved.</div>
                    </div>
                </div>
            </footer>
        </main>
    </div>

<script src="../static/js/app.js"></script>
{% endblock %}
